body {
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}
#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#main-menu {
    position: absolute;
    width: 100%;
    height: 100%;
}
.shadowed {
    text-shadow: rgb(65, 65, 65) 2px 0px 0px, rgb(65, 65, 65) 1.75517px 0.958851px 0px, rgb(65, 65, 65) 1.0806px 1.68294px 0px, rgb(65, 65, 65) 0.141474px 1.99499px 0px, rgb(65, 65, 65) -0.832294px 1.81859px 0px, rgb(65, 65, 65) -1.60229px 1.19694px 0px, rgb(65, 65, 65) -1.97998px 0.28224px 0px, rgb(65, 65, 65) -1.87291px -0.701566px 0px, rgb(65, 65, 65) -1.30729px -1.5136px 0px, rgb(65, 65, 65) -0.421592px -1.95506px 0px, rgb(65, 65, 65) 0.567324px -1.91785px 0px, rgb(65, 65, 65) 1.41734px -1.41108px 0px, rgb(65, 65, 65) 1.92034px -0.558831px 0px;
}
#main-menu, #shop, #clan, #settings {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-wrap {
    width: 300px;
    justify-content: center;
    align-items: center;
}
#game-name {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    animation-name: scalename;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes scalename {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
.npt-holder {
    outline: none;
    background-color: #ededed;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 0px 0px #cccccc inset;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: rgb(82, 82, 82);
    border: 3px solid rgb(110, 110, 110);
}
.npt-holder:focus {
    background-color: #d8d8d8;
    box-shadow: 0px 5px 0px 0px #b6b6b6 inset;
}
#play-game {
    background-color: #57c24e;
	box-shadow: 0px -6px 0px 0px #3b8234 inset;
    padding-bottom: 8px;
	color: rgb(255, 255, 255);
	border-radius: 8px;
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    text-align: center;
}
#play-game:hover {
    background-color: #4dad45;
    cursor: pointer;
}
#play-game:active:hover {
    background-color: #479c3f;
    box-shadow: 0px -5px 0px 0px #3b8234 inset;
}
#chat {
    display: none;
    position: absolute;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(30, 30, 30, 0.7);
    color: rgb(236, 236, 236);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 12px;
    border-radius: 6px;
    width: 200px;
    height: 25px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#chat::placeholder {
    color: rgb(194, 194, 194);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 12px;
}
.uibtn {
    position: absolute;
    background-color: rgb(80, 80, 80);
	box-shadow: 0px -6px 0px 0px rgb(60, 60, 60) inset;
	color: rgb(255, 255, 255);
	border-radius: 10px;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    padding: 4px;
    padding-bottom: 10px;
    margin: 10px;
}
.uibtn:hover {
    background-color: rgb(75, 75, 75);
    cursor: pointer;
}
.uibtn:active:hover {
    background-color: rgb(70, 70, 70);
    box-shadow: 0px -5px 0px 0px rgb(50, 50, 50) inset;
}
#settings {
    display: none;
    position: absolute;
    background-color: rgb(80, 80, 80);
    width: 400px;
    border-radius: 10px;
    border: 3px solid rgb(65, 65, 65);
}
.menu-header {
    background-color: rgb(65, 65, 65);
    color: white;
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 2px;
    margin: 0;
    text-align: center;
}
.settings-content {
    padding: 10px;
    overflow-y: auto;
    max-height: 250px;
    scrollbar-color: rgb(102, 102, 102) rgb(196, 196, 196);
    scrollbar-width: thin;
}
.settings-content::-webkit-scrollbar {
    width: 10px;
}
.settings-content::-webkit-scrollbar-track {
    background: rgb(196, 196, 196);
    border-radius: 20px;
}
.settings-content::-webkit-scrollbar-thumb {
    background: rgb(102, 102, 102);
    border-radius: 20px;
}
.hotkeyWrap {
    width: 175px;
    float: left;
    margin-right: 10px;
}
.hotkeyMenu {
    padding-top: 5px;
    padding-bottom: 5px;
}

.hotkeyText {
    color: white;
    font-size: 15px;
    font-weight: 900;
}
.hotkeyInput {
    outline: none;
    background-color: #ededed;
    width: 50px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 0px 0px #cccccc inset;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: rgb(82, 82, 82);
    border: 3px solid rgb(110, 110, 110);
    float: right;
}
.hotkeyInput:focus {
    background-color: #d8d8d8;
    box-shadow: 0px 5px 0px 0px #b6b6b6 inset;
}
.menu-btn {
    background-color: rgb(160, 57, 57);
    height: 18px;
	box-shadow: 0px -6px 0px 0px rgb(121, 41, 41) inset;
	color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 10px;
	border-radius: 10px;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}
.menu-btn:hover {
    background-color: rgb(150, 53, 53);
    cursor: pointer;
}
.menu-btn:active:hover {
    background-color: rgb(145, 48, 48);
    box-shadow: 0px -5px 0px 0px rgb(105, 36, 36) inset;
}
#close-settings {
    box-shadow: 0px -4px 0px 0px rgb(121, 41, 41) inset;
    position: absolute;
    border-radius: 5px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 11px;
    top: -10px;
	left: 94.5%;
}
.switch-checkbox {
    position: relative;
    float: right;
    width: 50px;
    height: 20px;
}
.toggle-switch {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(70, 70, 70);
    box-shadow: 0px 5px 0px 0px rgba(60, 60, 60, 0.5) inset;
    -webkit-transition: 400ms;
    transition: 400ms;
}
.switch-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #ededed;
    border: 3px solid rgb(110, 110, 110);
    box-shadow: 0px -6px 0px 0px #cccccc inset;
    margin-top: -3px;
    -webkit-transition: 300ms;
    transition: 300ms;
}
.toggle-switch:checked+.switch-slider {
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 5px 0px 0px rgba(110, 110, 110, 0.5) inset;
}
.toggle-switch:checked+.switch-slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}
.switch-slider.round {
    border-radius: 30px;
}
.switch-slider.round:before {
    border-radius: 30px;
}
#shop, #clan {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    color: rgb(225, 225, 225);
    font-weight: 600;
}
.menu-content {
    background-color: rgba(80, 80, 80, 0.5);
    border: 3px solid rgba(65, 65, 65, 0.6);
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    scrollbar-color: rgb(170, 170, 170) rgb(107, 107, 107);
    scrollbar-width: thin;
}
.menu-content::-webkit-scrollbar {
    width: 10px;
}
.menu-content::-webkit-scrollbar-track {
    background: rgb(107, 107, 107);
    border-radius: 5px;
}
.menu-content::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 5px;
}
.menu-top-wrap, #close-clan {
    margin-bottom: 10px;
}
.menu-bottom-wrap {
    background-color: rgba(80, 80, 80, 0.5);
    border: 3px solid rgba(65, 65, 65, 0.6);
    border-radius: 10px;
    margin-top: 5px;
    height: 35px;
}
#leave-clan {
    float: right;
}
.nav-menu-button {
    display: inline-block;
    background-color: rgba(80, 80, 80, 0.5);
    border: 3px solid rgba(65, 65, 65, 0.6);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.nav-menu-button:hover {
    background-color: rgba(70, 70, 70, 0.5);
    cursor: pointer;
}
.nav-menu-button:active:hover {
    background-color: rgba(60, 60, 60, 0.5);
}
.shop-btn {
    width: 34%;
}
.pdng {
    float: right;
    padding-left: 12px;
    padding-right: 12px;
}
.content-wrap {
    background-color: rgba(70, 70, 70, 0.8);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}
.menu-image {
    width: 35px;
    height: auto;
}
.info-container {
    display: inline-block;
    margin-left: 10px;
}
.info-container span {
    clear: both;
    float: left;
}
.hat-description {
    color: #dbdbdb;
    font-size: 11px;
}
.price-container {
    float: right;
    margin-top: 7px;
}
.hat-price {
    margin-right: 5px;
}
.item-button {
    background-color: rgb(100, 170, 200);
	box-shadow: 0px -6px 0px 0px rgb(60, 130, 160) inset;
	color: rgb(255, 255, 255);
    min-width: 40px;
	border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
}
.item-button:hover {
    background-color: rgb(90, 160, 190);
    cursor: pointer;
}
.item-button:active:hover {
    background-color: rgb(80, 150, 180);
    box-shadow: 0px -5px 0px 0px rgb(50, 120, 150) inset;
}

#clan-input {
    display: inline-block;
    width: 220px;
    margin-top: 0px;
}
.clan-button {
    background-color: rgb(150, 170, 180);
	box-shadow: 0px -6px 0px 0px rgb(110, 130, 140) inset;
	color: rgb(255, 255, 255);
    width: 80px;
	border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    margin-top: 2px;
    float: right;
}
.clan-button:hover {
    background-color: rgb(140, 160, 170);
    cursor: pointer;
}
.clan-button:active:hover {
    background-color: rgb(130, 150, 160);
    box-shadow: 0px -5px 0px 0px rgb(100, 120, 130) inset;
}
.clan-name {
    display: inline-block;
    margin-top: 5px;
}

.authorName {
  position: absolute;
  z-index: 25;
  right: 0;
  top: 0;
  color: white;
  font-size: 10px;
  font-weight: 800;
}
